* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #000;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1bb35f;
  border-radius: 100px;
}

.main-container {
  background: url(../../img/lines.png);
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.heading-primary {
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 9.7rem;
}

.heading-primary--sub {
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 700;
}

.heading-primary--sub-large {
  font-size: 2.2rem;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 6.4rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.16;
}

.heading-secondary--pink {
  color: #1bb35f;
}

.heading-secondary--main {
  margin-bottom: 1rem;
}

.heading-secondary--sub {
  font-size: 1.6rem;
  font-weight: 400;
}

.heading-secondary span {
  display: block;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #fff;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}

.u-margin-bottom-small {
  margin-bottom: 1.8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-large {
  margin-bottom: 5rem;
}

.u-text-align-right {
  text-align: right;
}

.u-not-select {
  user-select: none;
}

@keyframes fadeInText-1 {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInText-2 {
  0% {
    opacity: 0;
    transform: scale(1.1) translate(-50%, 0);
  }
  80% {
    opacity: 1;
    transform: scale(1) translate(-50%, 0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInText-3 {
  0% {
    opacity: 0;
    transform: scale(1.1) translate(-50%, 0);
  }
  80% {
    opacity: 1;
    transform: scale(1) translate(-50%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes bgFillerIn {
  from {
    left: -100%;
  }
  to {
    left: -1rem;
  }
}

@keyframes bgFillerOut {
  from {
    left: -1rem;
  }
  to {
    left: -100%;
  }
}

.btn {
  display: inline-block;
}

.btn:not(:last-child) {
  margin-right: 1rem;
}

.btn--large {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  width: 19.4rem;
  height: 6rem;
  border-radius: 4px;
  text-align: center;
  line-height: calc(6rem - 1px);
  vertical-align: center;
}

.btn--red {
  background-color: #1bb35f;
}

.btn--ring {
  border: 2px solid #1bb35f;
  position: relative;
}

.img-grid__container {
  position: relative;
  display: flex;
}

.img-grid__container::after {
  content: "";
  position: absolute;
  background-color: #1bb35f;
  width: 30rem;
  height: 40rem;
  z-index: -1;
}

.img-grid__container--left {
  justify-content: flex-start;
}

.img-grid__container--left::after {
  left: -2rem;
  top: 2rem;
}

.img-grid__container--center {
  justify-content: center;
}

.img-grid__container--center::after {
  left: 2rem;
  top: 2rem;
}

.img-grid__container--right {
  justify-content: flex-end;
}

.img-grid__container--right::after {
  right: 2rem;
  top: 2rem;
}

.img-grid__image {
  height: 40rem;
  width: 30rem;
  object-fit: cover;
}

.img-grid__text {
  position: absolute;
}

.img-grid__text--main {
  display: block;
  font-size: 2.8rem;
}

.img-grid__text--sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
}

.img-grid__text-1 {
  left: 0;
  bottom: -6.4rem;
}

.img-grid__text-2 {
  left: 4rem;
  bottom: -6.4rem;
}

.img-grid__text-3 {
  left: 8rem;
  bottom: -6.4rem;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 1000000;
  text-align: center;
  overflow: hidden;
}

.loader__container {
  position: relative;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader__text {
  font-size: 8rem;
  font-family: 'Righteous', cursive;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  backface-visibility: hidden;
}

.loader__text--1 {
  animation: fadeInText-1 0.8s ease;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.loader__text--2 {
  animation: fadeInText-2 0.8s ease;
  animation-delay: 4.8s;
  animation-fill-mode: both;
}

.loader__text--3 {
  animation: fadeInText-3 0.5s ease;
  animation-delay: 5.6s;
  animation-fill-mode: both;
}

.loader--hidden {
  display: none;
}

.loader--visible {
  display: block;
}

.loader__icon {
  transform: translateY(20rem);
  animation: loaderDisplay 0.1s;
  animation-fill-mode: both;
  animation-delay: 8s;
}

.loader__icon .spinner {
  animation: rotator 1.4s linear infinite;
  height: 40px;
}

.loader__icon .spinner .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.scheduler__container {
  padding: 2rem;
  width: 80%;
  background-color: #111111;
}

.scheduler__container:nth-child(1) {
  position: relative;
  overflow: hidden;
  border-left: 3px solid #1bb35f;
}

.scheduler__container:nth-child(1)::after {
  content: "";
  background-color: #1bb35f;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(1):hover::after {
  left: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(2) {
  position: relative;
  overflow: hidden;
  border-left: 3px solid #FF6B35;
}

.scheduler__container:nth-child(2)::after {
  content: "";
  background-color: #FF6B35;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(2):hover::after {
  left: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(3) {
  position: relative;
  overflow: hidden;
  border-left: 3px solid #1bb35f;
}

.scheduler__container:nth-child(3)::after {
  content: "";
  background-color: #1bb35f;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(3):hover::after {
  left: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(4) {
  position: relative;
  overflow: hidden;
  border-left: 3px solid #C30000;
}

.scheduler__container:nth-child(4)::after {
  content: "";
  background-color: #C30000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:nth-child(4):hover::after {
  left: 0;
  transition: all 1s ease-in-out;
}

.scheduler__container:not(:last-child) {
  margin-bottom: 3rem;
}

.scheduler__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.scheduler__body {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.scheduler__body--main {
  display: block;
}

.scheduler__body--time {
  display: block;
}

.shapes {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}

.footer {
  padding: 4rem;
  text-align: center;
}

.footer__icons {
  margin-bottom: 1.5rem;
}

.footer__icons a:not(:last-child) {
  margin-right: 1rem;
}

.footer p {
  font-size: 1.4rem;
  line-height: 1.7;
}

.footer p span {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container .row {
  display: flex;
}

.container .row .col-1 {
  width: calc((100% / 12) * 1);
}

.container .row .col-2 {
  width: calc((100% / 12) * 2);
}

.container .row .col-3 {
  width: calc((100% / 12) * 3);
}

.container .row .col-4 {
  width: calc((100% / 12) * 4);
}

.container .row .col-5 {
  width: calc((100% / 12) * 5);
}

.container .row .col-6 {
  width: calc((100% / 12) * 6);
}

.container .row .col-7 {
  width: calc((100% / 12) * 7);
}

.container .row .col-8 {
  width: calc((100% / 12) * 8);
}

.container .row .col-9 {
  width: calc((100% / 12) * 9);
}

.container .row .col-10 {
  width: calc((100% / 12) * 10);
}

.container .row .col-11 {
  width: calc((100% / 12) * 11);
}

.container .row .col-12 {
  width: calc((100% / 12) * 12);
}

.container .row .offset-1 {
  margin-left: calc((100% / 12) * 1);
}

.container .row .offset-2 {
  margin-left: calc((100% / 12) * 2);
}

.container .row .offset-3 {
  margin-left: calc((100% / 12) * 3);
}

.container .row .offset-4 {
  margin-left: calc((100% / 12) * 4);
}

.container .row .offset-5 {
  margin-left: calc((100% / 12) * 5);
}

.container .row .offset-6 {
  margin-left: calc((100% / 12) * 6);
}

.container .row .offset-7 {
  margin-left: calc((100% / 12) * 7);
}

.container .row .offset-8 {
  margin-left: calc((100% / 12) * 8);
}

.container .row .offset-9 {
  margin-left: calc((100% / 12) * 9);
}

.container .row .offset-10 {
  margin-left: calc((100% / 12) * 10);
}

.container .row .offset-11 {
  margin-left: calc((100% / 12) * 11);
}

.container .row .offset-12 {
  margin-left: calc((100% / 12) * 12);
}

@media (min-width: 576px) {
  .container .row .col-sm-1 {
    width: calc((100% / 12) * 1);
  }
  .container .row .col-sm-2 {
    width: calc((100% / 12) * 2);
  }
  .container .row .col-sm-3 {
    width: calc((100% / 12) * 3);
  }
  .container .row .col-sm-4 {
    width: calc((100% / 12) * 4);
  }
  .container .row .col-sm-5 {
    width: calc((100% / 12) * 5);
  }
  .container .row .col-sm-6 {
    width: calc((100% / 12) * 6);
  }
  .container .row .col-sm-7 {
    width: calc((100% / 12) * 7);
  }
  .container .row .col-sm-8 {
    width: calc((100% / 12) * 8);
  }
  .container .row .col-sm-9 {
    width: calc((100% / 12) * 9);
  }
  .container .row .col-sm-10 {
    width: calc((100% / 12) * 10);
  }
  .container .row .col-sm-11 {
    width: calc((100% / 12) * 11);
  }
  .container .row .col-sm-12 {
    width: calc((100% / 12) * 12);
  }
  .container .row .offset-sm-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .container .row .offset-sm-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .container .row .offset-sm-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .container .row .offset-sm-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .container .row .offset-sm-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .container .row .offset-sm-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .container .row .offset-sm-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .container .row .offset-sm-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .container .row .offset-sm-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .container .row .offset-sm-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .container .row .offset-sm-11 {
    margin-left: calc((100% / 12) * 11);
  }
  .container .row .offset-sm-12 {
    margin-left: calc((100% / 12) * 12);
  }
}

@media (min-width: 768px) {
  .container .row .col-md-1 {
    width: calc((100% / 12) * 1);
  }
  .container .row .col-md-2 {
    width: calc((100% / 12) * 2);
  }
  .container .row .col-md-3 {
    width: calc((100% / 12) * 3);
  }
  .container .row .col-md-4 {
    width: calc((100% / 12) * 4);
  }
  .container .row .col-md-5 {
    width: calc((100% / 12) * 5);
  }
  .container .row .col-md-6 {
    width: calc((100% / 12) * 6);
  }
  .container .row .col-md-7 {
    width: calc((100% / 12) * 7);
  }
  .container .row .col-md-8 {
    width: calc((100% / 12) * 8);
  }
  .container .row .col-md-9 {
    width: calc((100% / 12) * 9);
  }
  .container .row .col-md-10 {
    width: calc((100% / 12) * 10);
  }
  .container .row .col-md-11 {
    width: calc((100% / 12) * 11);
  }
  .container .row .col-md-12 {
    width: calc((100% / 12) * 12);
  }
  .container .row .offset-md-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .container .row .offset-md-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .container .row .offset-md-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .container .row .offset-md-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .container .row .offset-md-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .container .row .offset-md-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .container .row .offset-md-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .container .row .offset-md-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .container .row .offset-md-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .container .row .offset-md-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .container .row .offset-md-11 {
    margin-left: calc((100% / 12) * 11);
  }
  .container .row .offset-md-12 {
    margin-left: calc((100% / 12) * 12);
  }
}

@media (min-width: 992px) {
  .container .row .col-lg-1 {
    width: calc((100% / 12) * 1);
  }
  .container .row .col-lg-2 {
    width: calc((100% / 12) * 2);
  }
  .container .row .col-lg-3 {
    width: calc((100% / 12) * 3);
  }
  .container .row .col-lg-4 {
    width: calc((100% / 12) * 4);
  }
  .container .row .col-lg-5 {
    width: calc((100% / 12) * 5);
  }
  .container .row .col-lg-6 {
    width: calc((100% / 12) * 6);
  }
  .container .row .col-lg-7 {
    width: calc((100% / 12) * 7);
  }
  .container .row .col-lg-8 {
    width: calc((100% / 12) * 8);
  }
  .container .row .col-lg-9 {
    width: calc((100% / 12) * 9);
  }
  .container .row .col-lg-10 {
    width: calc((100% / 12) * 10);
  }
  .container .row .col-lg-11 {
    width: calc((100% / 12) * 11);
  }
  .container .row .col-lg-12 {
    width: calc((100% / 12) * 12);
  }
  .container .row .offset-lg-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .container .row .offset-lg-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .container .row .offset-lg-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .container .row .offset-lg-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .container .row .offset-lg-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .container .row .offset-lg-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .container .row .offset-lg-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .container .row .offset-lg-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .container .row .offset-lg-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .container .row .offset-lg-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .container .row .offset-lg-11 {
    margin-left: calc((100% / 12) * 11);
  }
  .container .row .offset-lg-12 {
    margin-left: calc((100% / 12) * 12);
  }
}

@media (min-width: 1200px) {
  .container .row .col-xl-1 {
    width: calc((100% / 12) * 1);
  }
  .container .row .col-xl-2 {
    width: calc((100% / 12) * 2);
  }
  .container .row .col-xl-3 {
    width: calc((100% / 12) * 3);
  }
  .container .row .col-xl-4 {
    width: calc((100% / 12) * 4);
  }
  .container .row .col-xl-5 {
    width: calc((100% / 12) * 5);
  }
  .container .row .col-xl-6 {
    width: calc((100% / 12) * 6);
  }
  .container .row .col-xl-7 {
    width: calc((100% / 12) * 7);
  }
  .container .row .col-xl-8 {
    width: calc((100% / 12) * 8);
  }
  .container .row .col-xl-9 {
    width: calc((100% / 12) * 9);
  }
  .container .row .col-xl-10 {
    width: calc((100% / 12) * 10);
  }
  .container .row .col-xl-11 {
    width: calc((100% / 12) * 11);
  }
  .container .row .col-xl-12 {
    width: calc((100% / 12) * 12);
  }
  .container .row .offset-xl-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .container .row .offset-xl-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .container .row .offset-xl-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .container .row .offset-xl-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .container .row .offset-xl-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .container .row .offset-xl-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .container .row .offset-xl-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .container .row .offset-xl-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .container .row .offset-xl-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .container .row .offset-xl-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .container .row .offset-xl-11 {
    margin-left: calc((100% / 12) * 11);
  }
  .container .row .offset-xl-12 {
    margin-left: calc((100% / 12) * 12);
  }
}

.header {
  height: 100vh;
}

.header__text-box {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0);
}

.header__btn-box {
  display: flex;
  justify-content: center;
}

.header .heading-primary {
  text-align: center;
}

.header .heading-primary--sub {
  transform: translateY(-15px);
}

.header .hero__logo {
  height: 9rem;
}

.nav {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 9rem;
  width: 100%;
  background-color: #000;
  font-size: 1.6rem;
  z-index: 100;
  transition: all 0.3s ease;
}

.nav__logo-box {
  position: absolute;
  left: 2rem;
  top: 2.5rem;
}

.nav__logo {
  height: 5.5rem;
  transform: translateY(-10px);
}

.nav__list {
  position: absolute;
  right: 2rem;
  top: 3rem;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__item {
  font-size: 1.4rem;
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

.nav__item--reg {
  border: 2px solid #1bb35f;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5rem;
}

.nav.hidden {
  transform: translateY(-9rem);
}

.nav.visible {
  transform: translateY(0);
}

.header {
  margin-bottom: 25rem;
}

.about {
  position: relative;
  margin-bottom: 25rem;
}

.about .col-sm-7 {
  z-index: 1;
}

.about__bg {
  background: linear-gradient(90deg, #19864a 0%, #0a8240 100%);
  padding: 15rem 0 25rem 0;
  position: absolute;
  left: 0;
  top: -18rem;
  width: 87%;
  font-weight: 300;
  font-size: 45vw;
  color: #111111;
  line-height: 0.3;
  z-index: 0;
}

.speakers {
  margin-bottom: 25rem;
  width: 100%;
  padding: 8rem 0 10rem 0;
}

.schedule {
  margin-bottom: 25rem;
}

.rewind {
  position: relative;
  margin-bottom: 70rem;
}

.rewind__video-container {
  width: 70vw;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

.rewind__video-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.rewind__video {
  filter: grayscale(1);
  width: 100vw;
  transform: translateX(-13vw);
}

.rewind .container .col-6 {
  z-index: 1;
}

.rewind__text-container {
  margin-top: 9rem;
}

.testimonial {
  margin-bottom: 25rem;
}

.testimonial [class^="col-"]:not(:nth-child(2n)) {
  margin-right: 1.5rem;
}

.testimonial .row .col-6 {
  display: flex;
}

.testimonial .row:not(:last-child) {
  margin-bottom: 1.5rem;
}

.testimonial__container {
  border: 1px solid #1bb35f;
  padding: 10rem 10rem;
  position: relative;
}

.testimonial__quote {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 500;
}

.testimonial__img-container {
  position: absolute;
  top: -3rem;
  left: 5rem;
}

.faq {
  margin-bottom: 25rem;
}

.faq__container {
  user-select: none;
  font-size: 1.4rem;
  font-weight: 300;
}

.faq__container:not(:last-child) {
  margin-bottom: 2rem;
}

.faq__question {
  position: relative;
  background-color: #111111;
  cursor: pointer;
  padding: 2rem 2rem;
}

.faq__question span {
  position: absolute;
  right: 2.4rem;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2.4rem;
}

.faq__solution {
  background-color: #0C0A0A;
  padding: 2rem 2rem;
}

.faq .hidden {
  display: none;
}

.faq .visible {
  display: block;
}

.sponsors {
  margin-bottom: 10rem;
}

.sponsors .row {
  justify-content: center;
}

.sponsors__img:not(:last-child) {
  margin-right: 5rem;
}

.sponsors__heading {
  width: fit-content;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  padding-bottom: .5rem;
  margin-bottom: 2rem;
}

.sponsors__container--student-partners {
  margin-bottom: 8rem;
}

.sponsors__container--student-partners h5 {
  margin-bottom: 8rem;
}

.sponsors__container--community-partners {
  margin-bottom: 8rem;
}

.sponsors__container--community-partners .row:not(:nth-child(2)) {
  margin-top: -9rem;
}

.sponsors__container--media-partners h5 {
  margin-bottom: 8rem;
}
/*# sourceMappingURL=main.css.map */