//original
// $color-pink: #FF00AA;
// $color-blue: #2176FF;
// $color-red: #C30000;
// $color-orange: #FF6B35;
// $color-purple: #BF00FF;

//temp
$color-pink: #C30000;
$color-blue: #084d27;
$color-orange: #FF6B35;
$color-purple: #1bb35f;
$color-red: #1bb35f;

// $color-pink: #FF00AA;
// $color-blue: #2176FF;
// $color-red: #00379F;
// $color-orange: #FF6B35;
// $color-purple: #BF00FF;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #eee;
$color-grey-dark-text: #111111;
$color-grey-dark-body: #0C0A0A;

$default-font-size: 1.6rem;


$gutter-right: 2rem;