.footer {
  padding: 4rem;
  text-align: center;

  &__icons {
    margin-bottom: 1.5rem;

    a {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.7;

    span{
      display: block;
    }
  }
}