.header {
  height: 100vh;
  transform: matrix(1, 0, 0, 1, 0, 0) !important;

  &__text-box {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0);
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }
  .heading-primary{
    text-align: center;
    &--sub{
      transform: translateY(-15px);
    }
  }
  .hero{
    &__logo{
      height: 11rem;
      // #1bb35f
    }
  }
  .heading-primary--sub{
    letter-spacing: 6px;
  }
}