.scheduler {
  &__container {
    padding: 2rem;
    width: 80%;
    background-color: $color-grey-dark-text;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        position: relative;
        overflow: hidden;
        @include scheduler-anim(nth($color-red $color-orange $color-purple $color-pink , $i));
      }
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  &__body {
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 300;
    position: relative;
    z-index: 1;

    &--main {
      display: block;
    }

    &--time {
      display: block;
    }
  }
}