@keyframes fadeInText-1 {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInText-2 {
  0% {
    opacity: 0;
    transform: scale(1.1) translate(-50%,0);;
  }
  80% {
    opacity: 1;
    transform: scale(1) translate(-50%,0);;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInText-3 {
  0% {
    opacity: 0;
    transform: scale(1.1) translate(-50%,0);;
  }
  80% {
    opacity: 1;
    transform: scale(1) translate(-50%,0);;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderDisplay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


$offset: 187;
$duration: 1.4s;

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes bgFillerIn {
  from {
    left: -100%;
  }
  to {
    left: -1rem;
  }
}

@keyframes bgFillerOut {
  from {
    left: -1rem;
  }
  to {
    left: -100%;
  }
}