.header {
  margin-bottom: 25rem;
}

.about {
  position: relative;
  margin-bottom: 25rem;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: 300  ;
    font-size: 50vw;
    color: $color-grey-dark-text;
    line-height: 0.3;
    z-index: -1;
  }
}

.speakers {
  margin-bottom: 25rem;
}

.schedule {
  margin-bottom: 25rem;
}

.rewind {
  position: relative;

  &__video-container {
    border: 1px solid orangered;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &__video {
    border: 1px solid yellow;
  }
}