.header {
  margin-bottom: 25rem;
}

.about {
  position: relative;
  margin-bottom: 25rem;
  .col-sm-7{
    z-index: 1;
  }
  &__bg {
    // background-color: #38023B;
    // background-color: #071013;
    // background: linear-gradient(90deg,#18112e 0,#321635 100%);
    background: linear-gradient(90deg, rgba(25,134,74,1) 0%, rgba(10,130,64,1) 100%);
    padding: 14rem 0 21rem 0;
    position: absolute;
    left: 0;
    top: -15rem;
    width: 87%;
    font-weight: 300;
    font-size: 45vw;
    color: $color-grey-dark-text;
    line-height: 0.3;
    z-index: 0;
  }
  background: linear-gradient(90deg, rgba(25,134,74,1) 0%, rgba(10,130,64,1) 100%);
  padding: 7rem 0;
}
@media(max-width: 768px){
  .about{
    margin-bottom: 18rem;
  }
}

.speakers {
  .heading-secondary{
    text-align: right;
  }
  margin-bottom: 25rem;
  width: 100%;
  padding: 8rem 0 10rem 0;
}
@media(max-width: 425px){
  .speakers{
    margin-bottom: 6rem;
    .heading-secondary{
      width: 95%;
    }
  }
}

.schedule {
  margin-bottom: 25rem;
}
@media(max-width: 768px){
  .schedule{
    margin-bottom: 18rem;
  }
}

.rewind {
  position: relative;
  margin-bottom: 70rem;

  &__video-container {
    // border: 1px solid orangered;
    width: 70vw;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba($color-black, 0.55);
    }
  }

  &__video {
    // border: 1px solid yellow;
    filter: grayscale(1);
    width: 100vw;
    transform: translateX(-13vw);
  }
  .container{
    .col-12{
      z-index: 1;
    }
  }
  &__text-container {
    margin-top: 9rem;
  }
}
@media(max-width: 768px){
  .rewind{
    margin-bottom: 18rem;
    &__video-container{
      width: 100%;
    }
    &__video{
      width: 100%;
      transform: none;
      filter: none;
    }
    &__text-container{
      margin-top: 20rem;
    }
  }
}

.testimonial {
  margin-bottom: 25rem;

  // [class^="col-"] {
  //   &:not(:nth-child(2n)) {
  //     // margin-right: 1.5rem;
  //   }
  // }

  .row {
    .col-12{
      display: flex;
      padding-left: 0;
      &:not(:last-child){
        padding-right: 1.5rem;
      }
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__container {
    border: 1px solid $color-purple;
    padding: 10rem 10rem;
    position: relative;
  }

  &__quote {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 500;

    &__speaker{
      font-size: 1.7rem;
      line-height: 1.7;
      font-weight: 500;
      text-align: right;
      margin-top: 1rem;
      color: $color-red;
    }
  }

  &__img-container {
    position: absolute;
    top: -3rem;
    left: 5rem;
  }
}

@media(max-width: 768px){
  .testimonial{
    margin-bottom: 18rem;
    &__container{
      padding: 8rem 5rem;
      
    }
    .row {
      .col-12{
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        &:not(:last-child){
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.faq {
  margin-bottom: 16rem;

  &__container {
    user-select: none;
    font-size: 1.4rem;
    font-weight: 300;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  
  &__question {
    position: relative;
    background-color: $color-grey-dark-text;
    cursor: pointer;
    padding: 2rem 2rem;

    span {
      position: absolute;
      right: 2.4rem;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 2.4rem;
      color: $color-red;
      font-weight: 500;
    }
  }
  
  &__solution {
    background-color: $color-grey-dark-body;
    padding: 2rem 2rem;
  }
  
  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }
}

@media(max-width: 425px){
  .faq{
    margin-bottom: 10rem;
  }
}

.sponsors {
  margin-bottom: 25rem;

  .row {
    justify-content: center;
    margin-bottom: 8rem;
  }

  &__img {
    height: 13rem;
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__heading {
    width: fit-content;
    font-size: 1.4rem;
    border-bottom: 1px solid $color-white;
    margin: 0 auto;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
  }
  
  &__container {
    &--student-partners {
      margin-bottom: 8rem;

      h5 {
        margin-bottom: 8rem;
      }
    }

    &--community-partners {
      margin-bottom: 8rem;

      .row {
        &:not(:nth-child(2)) {
          margin-top: -9rem;
        }
      }
    }

    &--media-partners {
      h5 {
        margin-bottom: 8rem;
      }
    }
  }
  .btn{
    display: block;
    margin: 0 auto;
    background-color: $color-white;
    color: $color-red;
    font-weight: 700;
    // letter-spacing: 3px;
  }
}

@media(max-width:425px){
  .sponsors {
    margin-bottom: 18rem;
    &__img {
      height: 12rem;
    }
    .btn{
      letter-spacing: 1px;
      width: 20rem;
    }
  }
}

.sponsors-temp{
  position: relative;
  background: linear-gradient(90deg, #19864a 0%, #0a8240 100%);
  padding: 10rem 0;
}

.why-table{
  padding: 24rem 0;
  .heading-secondary{
    text-align: center;
    margin-bottom: 4rem;
    span{
      color: $color-red;
    }
  }
  table{
    background-color: black;
    z-index:1;
    // overflow-x: auto;
    // text-align: center;
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    tr{
      font-size: 1.4rem;
      th{
        padding: 1.5rem 1rem;
        text-transform: uppercase;
      }
      td{
        padding: .5rem 2rem;
        img{
          height: 2rem;
        }
      }
    }
    th,td,tr{
      margin: 0;
      padding: 0;
    }
    border: 2px solid white;
    tr:nth-child(1){
      border: 1px solid white;
      th:nth-child(1){
        border-right: 2px solid white;
      }
    }
    @for $i from 2 through 14 {
      tr:nth-child(#{$i}){
        td:nth-child(1){
          border-right: 2px solid white;
        }
      }
    }
    @for $i from 2 through 14 {
      tr:nth-child(#{$i}){
        @for $j from 2 through 4{
          td:nth-child(#{$j}){
            text-align: center;
          }
        }
      }
    }
  }
}

@media(max-width: 768px){
  .why-table{
    .heading-secondary{
      text-align: left;
      transform: none;
      margin-bottom: 4rem;
    }
    table{
      width: 100%;
    }
  }
}

.sponsors-prev{
  margin-bottom: 20rem;
  .sponsors__img{
    height: 15rem;
    margin-bottom: -1rem;
    margin-right: 1rem;
    opacity: 0.8;
    transition: all .1s;
    &:hover{
      opacity: 1;
    }
  }
  .heading-secondary{
    span{
      color: $color-red;
      display: inline;
    }
  }
}